body {
    font-family: 'Montserrat', serif;
    text-align: center;
}

h1 {
    color: #EEEBDD;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #2B4F60;
}

/*Headings*/

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
    color: #2D132C;
}

/*Containers*/

/*Sections*/

.primary-color-section {
    background-color: #801336;
    color: #EEEBDD;
}

.secondary-color-section {
    background-color: #EEEDED;
    color: #801336;
}

.container-fluid {
    padding: 7% 15%;}


/*Navigation Bar*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #EEEBDD;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', serif;
    font-weight: 100;
    color: #EEEBDD;
}

/*Download Buttons*/

.download-btn {
    margin: 5% 3% 5% 0;
}

/*Title*/

#title .container-fluid {
    text-align: left;
    padding: 3% 15% 7%;
}

.title-image {
    width: 75%;
    transform: rotate(25deg);
    right: 30%;
}

/*Features*/

#features {
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 5%;
}

.feature-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    color: #2D132C;
}

.feature-icon {
    margin-bottom: 1rem;
}

.feature-icon:hover {
    margin-bottom: 1rem;
    color: #00092C;
}

/*Testimonial*/

#testimonials {
}

.testimonial-image {
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text{
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
}

/*Press*/

#press {
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/*Pricing*/

#pricing {
    padding: 100px;
}

.pricing-cards-container {
    justify-content: center;
}

.pricing-card {
    background-color: #EEEDED;
    border-color: #2D132C;
    color: #2D132C;
}

.price-heading {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
}

.pricing-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    color: #2D132C;
}

.pricing-column {
    padding: 2% 3%;
}

/*Call to action*/

.cta-title {
    color: #EEEBDD;
    font-size: 2.5rem;
    line-height: 1.5;
}

/*Footer*/
#footer {
    padding: 2% 3%;
}

.social-icon {
    margin: 20px 7.5px;
}

@media (max-width: 1400px){
    .title-image {
        transform: rotateX(0deg);
    }

    .title-image {
        text-align: center;
    }
}

